* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
}

ul {
    list-style: none;
}

.sidebar {
    background-color: #d1d5db;
    height: 100vh;
    width: 18%;
    float: left;
}

.sidebar {
    padding: 10px 20px 0 20px; 
}

.sidebar div {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 40px;
}

.sidebar ol {
    margin-left: 20px;
}

.sidebar ol li {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0f172a;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.sidebar ol:last-child {
    margin-top: 50px;
}

.header-container {
    background-color: #334155;
    width: calc(100% - 18%);
    height: 25vh;
    float: right;
    display: flex;
    gap: 25px;
    padding: 20px 30px;
}

.row-one-header {
    width: 60%;    
}

.row-one-header div {
    display: flex;
    gap: 20px;
}

.row-one-header span {
    font-size: 2rem;
    font-weight: bold;
    color: red;
}

.row-one-header div img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

#search-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#search-form input {
    border-radius: 25px;
    border-style: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
}

.main-container {
    background-color: #f8fafc;
    height: 75vh;
    width: 80%;
    float: left;
}

.row-one-header img {
    width: 30px;
    height: 30px;
}

.row-two-header img {
    width: 50px;
    height: 50px;
}

.dashboard-icons {
    width: 20px;
    height: 20px;
}

.sidebar div img {
    width: 50px;
    height: 50px;
}