* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.sidebar {
    background-color: #d1d5db;
    height: 100vh;
    width: 35vh;
    float: left;
}

.sidebar {
    padding: 10px 20px 0 20px; 
}

.sidebar div {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 40px;
}

.sidebar ol {
    margin-left: 20px;
}

.sidebar ol li {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0f172a;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.sidebar ol:last-child {
    margin-top: 50px;
}

.header-container {
    background-color: #334155;
    float: right;
    width: 80%;
    height: 25vh;
}

.main-container {
    background-color: #f8fafc;
    float: right;
    height: 75vh;
    width: 80%;
}

.row-one-header img {
    width: 30px;
    height: 30px;
}

.row-two-header img {
    width: 50px;
    height: 50px;
}

.dashboard-icons {
    width: 20px;
    height: 20px;
}

.sidebar div img {
    width: 50px;
    height: 50px;
}