* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.projects-items div, .announcements-items div, .trending-items div{
    background-color: white;
}

.projects, .announcements, .trending {
    padding-top: 20px;
}

body {
    min-height: 100vh;
    display: flex;
}

ul {
    list-style: none;
}

aside {
    background-color:#2f8c91;
    width: 15%;
}

aside {
    padding: 10px 20px 0 20px; 
}

aside div {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 40px;
}

aside ol {
    margin-left: 20px;
}

aside ol li {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

aside ol:last-child {
    margin-top: 50px;
}

.dashboard-icons {
    width: 20px;
    height: 20px;
}

aside div img {
    width: 50px;
    height: 50px;
}

aside a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

main {
    background-color: #d0dddf;
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px -3px black;
    height: 22%;
    display: flex;
    gap: 25px;
    padding: 20px 30px;
}

.row-one-header {
    width: 60%;   
}

.row-one-header div {
    display: flex;
    gap: 20px;
}

.row-one-header p {
    font-weight: bold;
}

.row-one-header span {
    font-size: 1.4rem;
    color: rgb(59, 54, 54);
}

.row-one-header div img {
    border-radius: 50%;
    height: 65px;
    width: 65px;
}

#search-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#search-form input {
    background-color: #d0dddf;
    border-radius: 25px;
    border-style: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
}

.row-one-header img {
    width: 30px;
    height: 30px;
}

.row-two-header {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.row-two-header div:first-child {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.row-two-header div:first-child img:nth-child(1) {
    width: 20px;
    height: 20px;
}

.row-two-header div:first-child img:nth-child(2) {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.row-two-header span {
    font-weight: bold;
}

.row-two-header:last-child button {
    padding: 5px 20px;
    border-radius: 100px;
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
    border-style: none;
    color: white;
    font-weight: bold;
}

.row-two-header:last-child button:hover {
    cursor: pointer;
}

#contents-container {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr auto;
}

h3 {
    margin-bottom: 10px;
}

.projects {
    grid-row: 1 / 3;
}

.projects-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.projects-items div:not(.projects-btn) {
    height: 200px;
    border-radius: 7px;
    border-left: 7px solid black;
    padding: 30px 20px;
    position: relative;
}

.projects-btn button {
    border-style: none;
    background-color: transparent;
    width: 25px;
}

.projects-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
}
