* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
}

ul {
    list-style: none;
}

.sidebar {
    background-color: 
    #e7f0fe;
    width: 15%;
}

.sidebar {
    padding: 10px 20px 0 20px; 
}

.sidebar div {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 40px;
}

.sidebar ol {
    margin-left: 20px;
}

.sidebar ol li {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.sidebar ol:last-child {
    margin-top: 50px;
}

.dashboard-icons {
    width: 20px;
    height: 20px;
}

.sidebar div img {
    width: 50px;
    height: 50px;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-container {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px -3px black;
    height: 22%;
    display: flex;
    gap: 25px;
    padding: 20px 30px;
}

.row-one-header {
    width: 60%;   
}

.row-one-header div {
    display: flex;
    gap: 20px;
}

.row-one-header p {
    font-weight: bold;
}

.row-one-header span {
    font-size: 1.4rem;
    color: rgb(59, 54, 54);
}

.row-one-header div img {
    border-radius: 50%;
    height: 65px;
    width: 65px;
}

#search-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#search-form input {
    background-color: #d0dddf;
    border-radius: 25px;
    border-style: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
}

.row-one-header img {
    width: 30px;
    height: 30px;
}

.row-two-header {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.row-two-header div:first-child {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.row-two-header div:first-child img:nth-child(1) {
    width: 20px;
    height: 20px;
}

.row-two-header div:first-child img:nth-child(2) {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.row-two-header span {
    font-weight: bold;
}

.row-two-header:last-child button {
    padding: 5px 20px;
    border-radius: 100px;
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
    border-style: none;
    color: white;
    font-weight: bold;
}

.row-two-header:last-child button:hover {
    cursor: pointer;
}